@font-face {
  font-family: "Exo2-SemiBold";
  src: url("../../assets/fonts/Exo2/Exo2-SemiBold.ttf");
}
@font-face {
  font-family: "PTSans-Bold";
  src: url("../../assets/fonts/PT_Sans/PTSans-Bold.ttf");
}
@font-face {
  font-family: "PTSans-Regular";
  src: url("../../assets/fonts/PT_Sans/PTSans-Regular.ttf");
}
