.footer {
  height: 365px;
  background-color: #0b7572;
  margin-top: 80px;
}
.footer__section {
  display: flex;
  gap: 150px;
}
.footer__logo {
  max-width: 176px;
  font-family: "Exo2-SemiBold";
  font-size: 60px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #ffffff;
  margin-top: 50px;
  margin-left: 40px;
}
.footer__item-section {
  display: flex;
  gap: 97px;
}
.footer__nav-list {
  margin-top: 80px;
}
.footer__nav-item {
  max-width: 100%;
  font-family: "Exo2-SemiBold";
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  text-align: left;
  color: #ffffff;
  margin-top: 25px;
}
.footer__elips-image {
  margin-top: 80px;
  margin-right: 15px;
  max-width: 100%;
}
.footer__rectangle {
  max-width: 100%;
  height: 42px;
  color: white;
  background-color: #ff9619;
  border: 1px solid #ff9619;
  padding-top: 10px;
  padding-left: 245px;
  margin-top: 122px;
}

@media only screen and (max-width: 950px) {
  .container {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 596px) {
  .container {
    padding: 0 40px;
  }
  .footer__section {
    flex-direction: column;
    gap: 20px;
  }
  .footer__nav-list {
    margin-top: 0;
    text-align: center;
  }
  .footer__elips-image {
    margin-top: 20px;
  }
  .footer__nav-item {
    margin-top: 15px;
  }
  .footer__rectangle {
    margin-top: 0px;
    max-width: 271px;
    margin-left: 400px;
  }
  .footer {
    max-height: 500px;
  }
  .footer__elips-image {
    display: none;
  }
  .footer__logo {
    margin-top: 12px;
    margin-left: 450px;
  }
  .footer__item-section {
    margin-left: 380px;
  }
}
