.services {
  display: flex;
  gap: 100px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px 20px #00000026;
  margin-top: 67px;
}

.service__image {
  max-width: 100%;
  margin-left: 80px;
  margin-top: 40px;
}
.service__title {
  max-width: 100%;
  margin-top: 24px;
  margin-left: 80px;
}
.service__text {
  max-width: 100%;
  margin-left: 80px;
  max-height: 100%;
  margin-top: 16px;
  margin-bottom: 50px;
}
.services__mobile-svg {
  display: none;
}
@media only screen and (max-width: 950px) {
  .container {
    padding: 0 40px;
  }
  .services {
    flex-direction: column;
    border-radius: 0;
    box-shadow: 0;
    gap: 16px;
  }
  .services__cards {
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #0000001f;
    display: flex;
    gap: 32px;
    height: 164px;
    margin-top: 25px;
  }
  .service__image {
    max-width: 100%;
    margin-left: 32px;
    margin-top: 32px;
  }
  .service__title {
    max-width: 100%;
    margin-top: 35px;
    margin-left: 0;
  }
  .service__text {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
}
.services__mobile-svg {
  display: none;
}
@media only screen and (max-width: 596px) {
  .container {
    padding: 0 20px;
  }
}
